.member {
  width: 100%;
}

.member__container {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
}

.member__image {
  width: 270px;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
  filter: drop-shadow(0 0 3px #333);
}

.name {
  color: var(--primary-clr);
  margin-top: var(--spacer-xs);
  font-weight: var(--fw-bold) 
}

.title {
  color: gray;
}
