.servicesInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: var(--primary-clr);
  letter-spacing: 0.5px;
  max-width: 80%;
}

.servicesInfo__header{
  margin-top: var(--spacer-md);
  letter-spacing: 1px;
}

@media screen and (min-width: 1024px){
  .servicesInfo__header{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px){
  .servicesInfo {
    max-width: 60%;
  }
}

@media screen and (min-width: 1920px){
  .servicesInfo__header{
    font-size: 2.5rem;
  }
}