.contactForm {
  margin: 0 auto;
  padding: var(--spacer-md);
}

.contactForm__heading {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.contactForm__heading > svg {
  max-width: 40px;
  max-height: 40px;
}

.contactForm__header{
  font-size: 2.25rem;
  margin-right: 1rem;
  color: var(--primary-clr);
}

.contactForm__form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: var(--spacer-lg) auto;
  font-size: 22px;
}

.contactForm__label {
  display: block;
  margin-top: var(--spacer-md);
  margin-bottom: var(--spacer-xs);
  letter-spacing: 1px;
}

.contactForm__input {
  padding: var(--spacer-sm);
  font-size: 18px;
  font-family: var(--ff);
  width: 100%;
  background-color: #f9f9f9;
  border: 0;
}

.contactForm__input:focus {
  outline-color: var(--blue);
}

.contactForm__textArea {
  min-height: 100px;
  padding: var(--spacer-md);
  font-size: 18px;
  font-family: var(--ff);
  background-color: #f9f9f9;
  border: 0;
  width: 100%;
}

.contactForm__textArea:focus {
  outline-color: var(--blue);
}

.contactForm__button {
  max-width: 160px;
}

.contactForm__button > input {
  font-weight: var(--fw-bold);
  border: 0;
  border-radius: var(--br);
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
  padding: var(--spacer-md) var(--spacer-lg) var(--spacer-md) var(--spacer-lg);
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
}

@media screen and (min-width: 550px) {
  .contactForm {
    max-width: 520px;
  }

  .contactForm__info {
    display: flex;
    justify-content: space-between;
  }

  .contactForm__input{
    min-width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .contactForm {
    max-width: 700px;
  }

  .contactForm__input{
    min-width: 250px;
  }

  .contactForm__textArea {
    min-height: 200px;
  }
}

@media screen and (min-width: 1024px){
  .contactForm__heading > svg {
    transform: scale(1.5);
    max-height: 50px;
  }

  .contactForm__header{
    font-size: 3rem;
    margin-right: 1.75rem;
  }
}

@media screen and (min-width:1440px){
  .contactForm__header {
    font-size: 3.5rem;
  }
}