
  .footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-clr);
    color: var(--white);
    font-weight: var(--fw-bold);
  }
  
  .footer__directions {
    min-height: 400px;
  }
  
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .footer__nav {
    width: 270px;
  }

  .footer__nav > li {
    margin-bottom: var(--spacer-md);
  }

  .footer__header {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: var(--spacer-md);
    margin-bottom: var(--spacer-md);
  }
  
  .footer__hours {
    width: 270px;
  }
  
  .footer__day {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__contact {
    color: var(--white);
  }

  @media screen and (min-width:560px){
    .footer__info {
      flex-direction: row;
    }

    .footer__section{ 
      height: 315px;
    }
  }
