  .hero {
    width: 100%;
  }
  
  .hero__video {
    display: block;
    height: auto;
    min-height: 60vh;
    max-height: 1080px;
    width: 100%;
    object-fit: cover;
  }

  .surgery {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    background-color: var(--primary-clr);
    color: var(--white);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    padding-top: var(--spacer-lg);
  }

  .services {
    display: flex;  
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: var(--primary-clr);
    color: var(--white);
    padding: 2rem 3rem 3rem 3rem;
  }

  .service {
    margin: var(--spacer-md);
  }

  .service svg {
    background-color: var(--white);
    max-width: 100px;
    padding: 1rem;
    border-radius: 50%;
    margin: var(--spacer-md);
  }
    
  .footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-clr);
    color: var(--white);
    font-weight: var(--fw-bold);
  }
  
  .footer__directions {
    min-height: 400px;
  }
  
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .footer__header {
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  
  .footer__hours {
    width: 270px;
  }
  
  .footer__day {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__contact {
    color: var(--white);
  }


  @media screen and (min-width:612px){
    .services {
      flex-direction: row;
    }

    .service {
      max-width: 485px;
    }
  }
  